stateMachines/system2processing.json
{
    "Comment": "Includes processing from completed segmentation processing through Comprehend/Yewno to storage in database",
    "StartAt": "combineSrtWithSegmentationData",
    "States": {
      "combineSrtWithSegmentationData": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:us-east-1:022001073478:function:stateMachinePlaceholder",
          "ResultPath": "$",
          "Next": "generateGifs"
          },
      "generateGifs": {
          "Type": "Pass",
          "ResultPath": "$",
          "Next": "comprehend"
          },
      "comprehend": {
          "Type": "Pass",
          "ResultPath": "$",
          "Next": "storeInDatabase"
          },
      "storeInDatabase": {
          "Type": "Pass",
          "ResultPath": "$",
          "End": true
          }
      }
  }